mdapi/flows/Utilized_Components-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>myDecision</name>
        <label>Primary Decision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>MultiPicklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiPicklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Utilized_Components__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Utilized Components (Sales Case)</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>MultiPicklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiPicklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Utilized_Components__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Sales Case &gt; Account</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF( INCLUDES([SalesCase__c].Utilized_Components__c  , &quot;MSP&quot;), &quot;MSP; &quot;,&quot;&quot;)
&amp;
IF( INCLUDES([SalesCase__c].Utilized_Components__c  , &quot;Cloud&quot;), &quot;Cloud; &quot;, &quot;&quot;)
&amp;
IF( INCLUDES([SalesCase__c].Utilized_Components__c  , &quot;ShadowControl&quot;), &quot;ShadowControl; &quot;, &quot;&quot;)
&amp;
IF( INCLUDES([SalesCase__c].Utilized_Components__c  , &quot;GRE&quot;), &quot;GRE; &quot;, &quot;&quot;)
&amp;
IF( INCLUDES([SalesCase__c].Utilized_Components__c  , &quot;ImageManager&quot;), &quot;ImageManager; &quot;, &quot;&quot;)
&amp;
IF( INCLUDES([SalesCase__c].Utilized_Components__c  , &quot;VirtualBoot&quot;), &quot;VirtualBoot; &quot;, &quot;&quot;)
&amp;
IF( INCLUDES([SalesCase__c].Utilized_Components__c  , &quot;RE&quot;), &quot;RE; &quot;, &quot;&quot;)
&amp;
IF( INCLUDES([SalesCase__c].Utilized_Components__c  , &quot;Other&quot;), &quot;Other; &quot;, &quot;&quot;)








</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_Utilized_Components_c</name>
        <dataType>String</dataType>
        <expression>IF( INCLUDES({!myVariable_current.Utilized_Components__c}  , &quot;MSP&quot;), &quot;MSP; &quot;,&quot;&quot;)
&amp;
IF( INCLUDES({!myVariable_current.Utilized_Components__c}  , &quot;Cloud&quot;), &quot;Cloud; &quot;, &quot;&quot;)
&amp;
IF( INCLUDES({!myVariable_current.Utilized_Components__c}  , &quot;ShadowControl&quot;), &quot;ShadowControl; &quot;, &quot;&quot;)
&amp;
IF( INCLUDES({!myVariable_current.Utilized_Components__c}  , &quot;GRE&quot;), &quot;GRE; &quot;, &quot;&quot;)
&amp;
IF( INCLUDES({!myVariable_current.Utilized_Components__c}  , &quot;ImageManager&quot;), &quot;ImageManager; &quot;, &quot;&quot;)
&amp;
IF( INCLUDES({!myVariable_current.Utilized_Components__c}  , &quot;VirtualBoot&quot;), &quot;VirtualBoot; &quot;, &quot;&quot;)
&amp;
IF( INCLUDES({!myVariable_current.Utilized_Components__c}  , &quot;RE&quot;), &quot;RE; &quot;, &quot;&quot;)
&amp;
IF( INCLUDES({!myVariable_current.Utilized_Components__c}  , &quot;Other&quot;), &quot;Other; &quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Utilized_Components-1_SalesCase__c</interviewLabel>
    <label>Utilized Components</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>SalesCase__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SalesCase__c].Account</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Utilized Components (Account)</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Utilized Components</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Utilized_Components__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_Utilized_Components_c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SalesCase__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesCase__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
